.secret_key_container{
    margin: 5% 15%;
    width: 1100px;
    height: 550px;
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    border: 2px solid #515151;
    border-radius: 20px;
}

.secret_key{
    color: #00caca;
}